html,
body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    & h1 {
        margin-left: 50px;
        & a {
            text-decoration: none;
            color: black;
            &:visited {
                text-decoration: none;
                color: black;
            }
        }
    }
    & ul {
        display: flex;
        list-style-type: none;
        & li {
            margin-right: 50px;
        }
        & a {
            text-decoration: none;
            color: black;
            &:visited {
                text-decoration: none;
                color: black;
            }
            &:hover {
                border-bottom: 2px solid black;
                padding-bottom: 5px;
            }
        }
    }
}

aside {
    width: 70%;
    margin: auto;
}

.blocpage__index {
    & li:nth-of-type(1) {
        border-bottom: 2px solid black;
        padding-bottom: 5px;
    }
    article {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

figure {
    margin: 0;
    width: 70%;
    display: flex;
    height: 400px;
    margin-top: 50px;
    & img {
        width: 50%;
        object-fit: cover;
    }
    & figcaption {
        background-color: #f2f2f2;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
}

footer {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import "projet";
@import "propos";
@import "cv";
@import "queries";