@media screen and (max-width: 767px) {
    //telephone classique
    header {
        display: flex;
        flex-direction: column;
        height: 150px;
        align-items: flex-start;
        & h1 {
            margin: 0;
        }
        & ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
        }
    }
    article {
        width: 100%;
        & figure {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 400px;
            & img {
                width: 100%;
                height: 40%;
            }
            & figcaption {
                width: 100%;
                padding: 0;
                height: 60%;
                text-align: justify;
            }
        }
        .figure__impaire {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

@media screen and (max-width: 360px) {
    //iphone 5
    .blocpage__cv {
        & aside {
            width: 90%;
        }
        & article {
            width: 90%;
            & p {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    //tablette
    figure {
        height: 200px;
        & figcaption {
            padding: 0;
        }
    }
    .blocpage__projet {
        & figure {
            & img {
                height: 60%;
            }
            & figcaption {
                height: 40%;
            }
        }
    }
}